{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
ログイン
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login" data-admin-utc-offset="32400">
  <div id="container login">
    <header id="header">
      <div class="branding">
        <div id="site-name">
          資産管理システム
        </div>
      </div>
    </header>
      <div id="content" class="colM">
        <div id="content-main">
          <form method="post" action="{% url 'accounts:login' %}">
          {% csrf_token %}
          {% bootstrap_form form layout='horizontal' %}
          <div class="form-group row px-3">
            <input type="submit" class="btn btn-primary btn-block" value="ログイン" />
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
        <br class="clear" />
      </div>
  </div>
</div>
{% endblock %}