{% extends "base.html" %}

{% block title %}メニュー{% endblock %}

{% block styles %}
nav.menu ul li {
list-style-type:none;
font-size: 1.1em;
}
{% endblock %}

{% block headertitle %}メニュー画面{% endblock %}

{% block content %}
<nav class="menu">
  <ul>
    <li>
      <a target="_blank" href="/hello">{{ username }}</a>
    </li>
  </ul>
</nav>
<div class="app-auth module">
  <table>
    <caption>
      <a href="/admin/auth/" class="section">使用者の管理</a>
    </caption>
    <tr class="model-group">
      <th scope="row" id="auth-group">
        <a href="/admin/auth/group/">Groups</a>
      </th>
      <td><a href="/admin/auth/group/add/" class="addlink" aria-describedby="auth-group">Add</a></td>
      <td><a href="/admin/auth/group/" class="changelink" aria-describedby="auth-group">Change</a></td>
    </tr>
    <tr class="model-user">
      <th scope="row" id="auth-user">
        <a href="">Users</a>
      </th>
      <td><a href="{% url 'accounts:create' %}" class="addlink" aria-describedby="auth-user">Add</a></td>
      <td><a href="/admin/auth/user/" class="changelink" aria-describedby="auth-user">Change</a></td>
    </tr>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}